@model TailSpin.SpaceGame.Web.Models.LeaderboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="login">

    <div class="container">
        <div class="row">
            <div class="col-md-5 text-left">
                <button type="button" id="loginBtn" class="btn btn-primary">
                    Iniciar Sesion
                </button>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</section>

<div id="logInfoContainer" class="container">
    <p style="font-weight:400">Card Id:</p>
    <p id="userNameLabel" style="color:blue"></p>
</div>

<div class="container">
    <img class="title" src="/images/1649787042040.jfif" style="width:100%; height:300px">
</div>


<section class="download">
    <div class="image-cap"></div>
    <div class="container">
        <a href="" id="download-btn" class="btn btn-default btn-lg" data-toggle="modal" data-target="#pretend-modal">Descargar Catalogo de Salud</a>
    </div>
</section>

<!-- Screenshots -->
@*<section class="screens">
    <div class="container">
        <ul>
            <li><a href="" id="screen-01" data-toggle="modal" data-target=".pic-01"><img src="/images/space-game-placeholder.svg" alt=""></a></li>
            <li><a href="" id="screen-02" data-toggle="modal" data-target=".pic-01"><img src="/images/space-game-placeholder.svg" alt=""></a></li>
            <li><a href="" id="screen-03" data-toggle="modal" data-target=".pic-01"><img src="/images/space-game-placeholder.svg" alt=""></a></li>
            <li><a href="" id="screen-04" data-toggle="modal" data-target=".pic-01"><img src="/images/space-game-placeholder.svg" alt=""></a></li>
        </ul>
    </div>
</section>
*@
<!-- Leaderboard -->
<section class="leaderboard">
    <div class="container">
        <a name="leaderboard"></a>

        <h2>Contactos:</h2>

        <div class="row">
            <div class="col-md-5">
                <div id="project-label">Select Category:</div>
                @*DROP DOWN*@
                <div class="dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tipo de Busqueda
                        <span class="caret"></span>
                    </button>
                    <ul id="tableMenu" class="dropdown-menu" aria-labelledby="dLabel">
                        <li id="liDropName"><p>Name</p></li>
                        <li id="liDropCategory"><p>Category</p></li>
                        <li id="liDropCity"><p>City</p></li>
                    </ul>
                </div>


                @*END DROP DOWN*@
            </div>
            <div class="col-md-5">
                <div id="project-label">Type by Category:</div>
                <input id="project" onkeyup="fillTable()">
                <input type="hidden" id="project-id">
                <p id="project-description"></p>
            </div>
        </div>

        <br />

        <div id="tableDiv"></div>

    </div>
    <!-- End Leaderboard -->

</section>


<!-- Sign Up modal -->
<div class="modal fade bs-example-modal-sm" id="SignUp-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Sign up with your Social Security ID:</h4>
            </div>

            <div class="modal-body text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="SsIds">Social Security ID:</label>
                            <input type="text" class="form-control" id="SsIds" placeholder="Social Security ID:">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="phoneNumberId">Phone Number:</label>
                            <input type="text" class="form-control" id="phoneNumberId" placeholder="Phone Number">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="emailId">Email:</label>
                            <input type="text" class="form-control" id="emailId" placeholder="Email">
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-1">
                            <button type="button" id="signUp-btn-accept" data-loading-text="Loading..." class="btn btn-primary">
                                Sign Up
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <a href="" id="cancel-signUp-btn" class="btn btn-default" data-dismiss="modal" data-target="#login-modal">Cancelar</a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2">
                            <p id="emailSendPLabelSignUp" style="color:red">A email was send to your email account.</p>
                            <button type="button" id="okButtonSignUp" data-loading-text="Loading..." class="btn btn-primary">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Sign In modal -->
<div class="modal fade bs-example-modal-sm" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Sign in with your MCS Card:</h4>
            </div>

            <div class="modal-body text-left">
                <p>MCS Card ID:</p>
                <input type="text" id="userName" placeholder="MCS Card ID:" />
                <p id="emailSendPLabel" style="color:red">A email was send to your email account.</p>
            </div>

            <div class="container">

                <div class="row">
                    <div class="col-sm-1">
                        <button type="button" id="login-btn-accept" data-loading-text="Loading..." class="btn btn-primary">
                            Sign In
                        </button>
                    </div>
                    <div class="col-sm-1">
                        <a href="" id="cancel-login-btn" class="btn btn-default" data-dismiss="modal" data-target="#login-modal">Cancelar</a>
                        <button type="button" id="okButton" data-loading-text="Loading..." class="btn btn-primary">
                            Ok
                        </button>
                    </div>
                </div>

                <br />
                <div id="dontHaveAccountLabel">
                    <p>Don't have a account?</p>
                    <button type="button" id="signUpBtn" data-loading-text="Loading..." class="btn btn-primary">
                        Sign up now
                    </button>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="codeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign-In</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body text-center">
                    <p>Email Verification Code:</p>
                    <input type="text" id="txtCode" placeholder="code Number:" />
                </div>
                <div class="container">
                    <button type="button" id="continueCodeBtn" data-loading-text="Loading..." class="btn btn-primary">
                        continue
                    </button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Hello</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body text-center">
                    <h1 style="color:green">You are Welcome</h1>
                </div>
                <div class="container">
                    <button type="button" id="welcomeAcceptBtn" data-loading-text="Loading..." class="btn btn-primary">
                        Accept
                    </button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>*@